.center_wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto 60px;
  background-color: #fff;
  padding: 40px;
}

.back_button {
  margin-bottom: 20px;
}

.profile_image_small {
  max-width: 30px;
}

.post_list_wrapper {
	column-width: 320px;
	column-gap: 20px;
	width: 80%;
	max-width: 1400px;
	margin: 50px auto;
}

.post_list_item {
	background: #ffffff;
	margin: 0 0 20px;
	padding: 20px 20px 0;
	display: inline-block;
	column-break-inside: avoid;
}

.post_item_header {
  height: 30px;
}

.post_item_header_left {
  display: inline-block;
}

.post_item_header_middle {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  margin-left: 10px;
}

.post_item_header_right {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  float: right;
}

.post_item_image {
  margin: 10px 0;
}

.post_image {
  width: 100%;
  height: auto;
}

.post_item_interaction {
  height: 19px;
}

.post_item_interaction_left {
  display: inline-block;
}

.post_item_interaction_middle {
  display: inline-block;
  height: 19px;
  line-height: 19px;
  vertical-align: top;
  margin-left: 7px;
}

.post_item_description,
.post_item_comment_list {
  margin: 10px 0;
  line-height: 22px;
}

.post_item_comment_link {
  font-size: 14px;
}

.post_item_comment {
  margin: 0 auto;
}

.post_list_input {
  display: inline-block;
  width: 62%;
  margin-bottom: 0;
  margin-top: 0;
}

.post_list_button {
  display: inline-block;
  float: right;
  width: 35%;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}