.login_wrapper {
  width: 80%;
  margin: 120px auto 60px;
  background-color: #fff;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login_left {
  flex: 1;
  height: 100%;
}

.login_right {
  flex: 1;
  padding: 60px;
  height: 100%;
}

.login_image {
  object-fit: contain;
}