.user_center_top {
  text-align: center;
}
.user_avatar {
  margin: 20px auto 10px;
}

.profile_image_small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #dcdcdc
}

.profile_image_middle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #dcdcdc
}

.profile_image_large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #dcdcdc
}

.user_bio {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.user_follow_edit {
  margin: 20px 0;
}

.user_post_list_wrapper {
  -webkit-columns: 300px;
  -moz-columns: 300px;
  column-width: 300px;
  -webkit-column-gap: 1.5px;
  -moz-column-gap: 1.5px;
  column-gap: 1.5em;
  width: 100%;
}

.user_post_list_item {
  margin: 0 0 1.5em;
  display: inline-block;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

/* ----------------------------- User Center Tab ---------------------------- */

.user_center_tab {
  width: 100%;
  text-align: center;
  margin: 40px auto;
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  height: 60px;
}

.user_center_tab ul li {
  display: inline-block;
  padding: 0 30px;
  font-size: 18px;
  height: 59px;
  line-height: 59px;
  cursor: pointer;
}

.link_current {
  border-bottom: 2px solid #000000;
}

.tab_content {
  display: none;
}
      
.tab_current {
  display: block;
}

.user_follow_list {
  height: 60px;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.user_follow_list_left {
  display: inline-block;
}

.user_follow_list_middle {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  margin-left: 20px;
}

.user_follow_list_right {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  float: right;
}